## Importing Libraries

In [1]:
import pandas as pd
import praw
import yfinance as yf

## Scraping Reddit Data using PRAW

In [2]:
user_agent = 'Redddit Scrapper 1.0 (by /u/Snavil21)'
reddit = praw.Reddit(
    client_id = 'K-0k94GiJ9MWzIDIJfrsxQ',
    client_secret = 'NgZ4BxKfD4PQprH5Fuc6ABedOFFUKA',
    user_agent = user_agent
)

In [3]:
headlines = []
dates = []
def get_submissions(subreddit,limit):
    for submission in reddit.subreddit(subreddit).top(limit=1000):
        headlines.append(submission.title)
        dates.append(pd.to_datetime(submission.created_utc,unit='s'))
    print(len(headlines))

## Wrangling 3 Subreddits: WallStreetBets, Investing, and StockMarket

In [4]:
sub_list = ['wallstreetbets','investing','StockMarket']
for sub in sub_list:
    get_submissions(sub, 1000)

954
1944
2828

## Creating Dataset

In [5]:
df_headline = pd.DataFrame(headlines,columns=['headlines'])
df_dates = pd.DataFrame(dates,columns=['Date'])

In [7]:
df_headline.to_csv('Created Dataframes/Fetched Headline.csv',index=False,encoding='utf-8')
df_headline

                                              headlines
0                                Times Square right now
1                UPVOTE so everyone sees we got SUPPORT
2                         GME YOLO update — Jan 28 2021
3                  GME YOLO month-end update — Jan 2021
4                                     It’s treason then
...                                                 ...
2823  Elon Musk accused of breaking law while buying...
2824                           Good way to start a week
2825                                    Well, shit.....
2826  Jim Cramer urges investors to exit crypto, say...
2827  Third member of prestigious FDA panel resigns ...

[2828 rows x 1 columns]

In [8]:
df_dates.to_csv('Created Dataframes/Fetched Dates.csv',index=False,encoding='utf-8')
df_dates

                    Date
0    2021-01-30 18:00:38
1    2021-01-28 13:40:34
2    2021-01-28 21:06:23
3    2021-01-29 21:04:45
4    2021-01-29 23:40:59
...                  ...
2823 2022-04-13 08:27:35
2824 2021-04-13 07:06:14
2825 2024-06-04 16:05:29
2826 2022-12-06 13:45:21
2827 2021-06-11 14:12:58

[2828 rows x 1 columns]

## Fetching Stock Data from Yahoo

In [9]:
ticker  = 'GOOG'
stock_data = yf.download(ticker,start='2013-11-18',end='2024-12-04')
stock_data.reset_index(inplace=True)
stock_data

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,GOOG,GOOG,GOOG,GOOG,GOOG,GOOG
0,2013-11-18,25.629507,25.692448,26.120594,25.634914,25.797056,70651832
1,2013-11-19,25.471735,25.534290,25.772150,25.480742,25.696684,45433661
2,2013-11-20,25.399933,25.462311,25.737530,25.413742,25.652597,38692487
3,2013-11-21,25.692118,25.755213,25.860817,25.554216,25.579123,43835693
4,2013-11-22,25.637955,25.700916,25.807516,25.634417,25.739023,50356042
...,...,...,...,...,...,...,...
2774,2024-11-26,170.619995,170.619995,171.494995,169.429993,169.490005,14937500
2775,2024-11-27,170.820007,170.820007,171.139999,169.669998,170.679993,12433400
2776,2024-11-29,170.490005,170.490005,170.869995,168.750000,170.059998,9250700
2777,2024-12-02,172.979996,172.979996,173.600006,170.270004,170.320007,16593400
2778,2024-12-03,173.020004,173.020004,174.320007,172.509995,173.119995,15721500

In [10]:
stock_data.to_csv('Created Dataframes/Fetched Stock Data.csv',index=False,encoding='utf-8')

## Next: We Move onto Data Analysis -->