## Importing Libraries

In [1]:
import pandas as pd

## Creating Dataframes

In [3]:
df_headlines = pd.read_csv('Created Dataframes/Fetched Headline.csv')
df_dates = pd.read_csv('Created Dataframes/Fetched Dates.csv')
df_stock = pd.read_csv('Created Dataframes/Fetched Stock Data.csv')

## Subreddit Headlines

In [4]:
df_headlines

                                              headlines
0                                Times Square right now
1                UPVOTE so everyone sees we got SUPPORT
2                         GME YOLO update — Jan 28 2021
3                  GME YOLO month-end update — Jan 2021
4                                     It’s treason then
...                                                 ...
2821                           Good way to start a week
2822                                    Well, shit.....
2823  Jim Cramer urges investors to exit crypto, say...
2824  Third member of prestigious FDA panel resigns ...
2825               Goldman Sachs Top Retail Stock Picks

[2826 rows x 1 columns]

## Subreddit Dates

In [5]:
df_dates

                     Date
0     2021-01-30 18:00:38
1     2021-01-28 13:40:34
2     2021-01-28 21:06:23
3     2021-01-29 21:04:45
4     2021-01-29 23:40:59
...                   ...
2821  2021-04-13 07:06:14
2822  2024-06-04 16:05:29
2823  2022-12-06 13:45:21
2824  2021-06-11 14:12:58
2825  2022-03-28 21:39:41

[2826 rows x 1 columns]

## Stock Movements

In [6]:
df_stock

,Date,Adj Close,Close,High,Low,Open,Volume
0,NaN,GOOG,GOOG,GOOG,GOOG,GOOG,GOOG
1,2013-11-18,25.629505157470703,25.692447662353516,26.120594024658203,25.63491439819336,25.797056198120117,70651832
2,2013-11-19,25.47173500061035,25.534290313720703,25.77215003967285,25.480741500854492,25.696683883666992,45433661
3,2013-11-20,25.399932861328125,25.462310791015625,25.737529754638672,25.413742065429688,25.652597427368164,38692487
4,2013-11-21,25.69211769104004,25.755212783813477,25.860816955566406,25.554216384887695,25.57912254333496,43835693
...,...,...,...,...,...,...,...
2775,2024-11-26,170.6199951171875,170.6199951171875,171.4949951171875,169.42999267578125,169.49000549316406,14937500
2776,2024-11-27,170.82000732421875,170.82000732421875,171.13999938964844,169.6699981689453,170.67999267578125,12433400
2777,2024-11-29,170.49000549316406,170.49000549316406,170.8699951171875,168.75,170.05999755859375,9250700
2778,2024-12-02,172.97999572753906,172.97999572753906,173.60000610351562,170.27000427246094,170.32000732421875,16593400
2779,2024-12-03,173.02000427246094,173.02000427246094,174.32000732421875,172.50999450683594,173.1199951171875,15721500

## Merge Headlines and Dates Dataframe

In [7]:
df_subreddit = pd.concat([df_headlines, df_dates], axis=1)
df_subreddit

                                              headlines                 Date
0                                Times Square right now  2021-01-30 18:00:38
1                UPVOTE so everyone sees we got SUPPORT  2021-01-28 13:40:34
2                         GME YOLO update — Jan 28 2021  2021-01-28 21:06:23
3                  GME YOLO month-end update — Jan 2021  2021-01-29 21:04:45
4                                     It’s treason then  2021-01-29 23:40:59
...                                                 ...                  ...
2821                           Good way to start a week  2021-04-13 07:06:14
2822                                    Well, shit.....  2024-06-04 16:05:29
2823  Jim Cramer urges investors to exit crypto, say...  2022-12-06 13:45:21
2824  Third member of prestigious FDA panel resigns ...  2021-06-11 14:12:58
2825               Goldman Sachs Top Retail Stock Picks  2022-03-28 21:39:41

[2826 rows x 2 columns]

## Checking Null Values

In [13]:
df_stock.isnull().sum()

Date         1
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [15]:
df_stock.dropna(axis=0, how='any', inplace=True)
df_stock.isnull().sum()

Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [14]:
df_subreddit.isnull().sum()

headlines    0
Date         0
dtype: int64

## Checking Date Discrepancy

In [9]:
print(df_subreddit['Date'].min())
print(df_subreddit['Date'].max())

2013-11-18 02:09:07
2024-12-04 22:48:02

In [16]:
print(df_stock['Date'].min())
print(df_stock['Date'].max())

2013-11-18
2024-12-03

In [17]:
remove_unmatched_data = df_subreddit[df_subreddit['Date'] > '2024-12-03'].index
df_subreddit.drop(remove_unmatched_data,inplace=True)
df_subreddit

                                              headlines                 Date
0                                Times Square right now  2021-01-30 18:00:38
1                UPVOTE so everyone sees we got SUPPORT  2021-01-28 13:40:34
2                         GME YOLO update — Jan 28 2021  2021-01-28 21:06:23
3                  GME YOLO month-end update — Jan 2021  2021-01-29 21:04:45
4                                     It’s treason then  2021-01-29 23:40:59
...                                                 ...                  ...
2821                           Good way to start a week  2021-04-13 07:06:14
2822                                    Well, shit.....  2024-06-04 16:05:29
2823  Jim Cramer urges investors to exit crypto, say...  2022-12-06 13:45:21
2824  Third member of prestigious FDA panel resigns ...  2021-06-11 14:12:58
2825               Goldman Sachs Top Retail Stock Picks  2022-03-28 21:39:41

[2824 rows x 2 columns]

In [18]:
print(df_subreddit['Date'].min())
print(df_subreddit['Date'].max())

2013-11-18 02:09:07
2024-12-02 17:52:54

## Removing Timestamps

In [20]:
df_subreddit['Date'] = pd.to_datetime(df_subreddit['Date'])
df_stock['Date'] = pd.to_datetime(df_stock['Date'])

In [21]:
df_subreddit['Date'] = df_subreddit['Date'].dt.date
df_stock['Date'] = df_stock['Date'].dt.date
df_subreddit

                                              headlines        Date
0                                Times Square right now  2021-01-30
1                UPVOTE so everyone sees we got SUPPORT  2021-01-28
2                         GME YOLO update — Jan 28 2021  2021-01-28
3                  GME YOLO month-end update — Jan 2021  2021-01-29
4                                     It’s treason then  2021-01-29
...                                                 ...         ...
2821                           Good way to start a week  2021-04-13
2822                                    Well, shit.....  2024-06-04
2823  Jim Cramer urges investors to exit crypto, say...  2022-12-06
2824  Third member of prestigious FDA panel resigns ...  2021-06-11
2825               Goldman Sachs Top Retail Stock Picks  2022-03-28

[2824 rows x 2 columns]

In [22]:
df_stock

,Date,Adj Close,Close,High,Low,Open,Volume
1,2013-11-18,25.629505157470703,25.692447662353516,26.120594024658203,25.63491439819336,25.797056198120117,70651832
2,2013-11-19,25.47173500061035,25.534290313720703,25.77215003967285,25.480741500854492,25.696683883666992,45433661
3,2013-11-20,25.399932861328125,25.462310791015625,25.737529754638672,25.413742065429688,25.652597427368164,38692487
4,2013-11-21,25.69211769104004,25.755212783813477,25.860816955566406,25.554216384887695,25.57912254333496,43835693
5,2013-11-22,25.637954711914062,25.700916290283203,25.80751609802246,25.634416580200195,25.739023208618164,50356042
...,...,...,...,...,...,...,...
2775,2024-11-26,170.6199951171875,170.6199951171875,171.4949951171875,169.42999267578125,169.49000549316406,14937500
2776,2024-11-27,170.82000732421875,170.82000732421875,171.13999938964844,169.6699981689453,170.67999267578125,12433400
2777,2024-11-29,170.49000549316406,170.49000549316406,170.8699951171875,168.75,170.05999755859375,9250700
2778,2024-12-02,172.97999572753906,172.97999572753906,173.60000610351562,170.27000427246094,170.32000732421875,16593400
2779,2024-12-03,173.02000427246094,173.02000427246094,174.32000732421875,172.50999450683594,173.1199951171875,15721500

In [23]:
df_subreddit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2824 entries, 0 to 2825
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   headlines  2824 non-null   object
 1   Date       2824 non-null   object
dtypes: object(2)
memory usage: 66.2+ KB

In [24]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2779 entries, 1 to 2779
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2779 non-null   object
 1   Adj Close  2779 non-null   object
 2   Close      2779 non-null   object
 3   High       2779 non-null   object
 4   Low        2779 non-null   object
 5   Open       2779 non-null   object
 6   Volume     2779 non-null   object
dtypes: object(7)
memory usage: 173.7+ KB

## Convert Dates to datetime64

In [25]:
df_subreddit['Date'] = pd.to_datetime(df_subreddit['Date'])
df_stock['Date'] = pd.to_datetime(df_stock['Date'])

In [26]:
df_subreddit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2824 entries, 0 to 2825
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   headlines  2824 non-null   object
 1   Date       2824 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 66.2+ KB

In [27]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2779 entries, 1 to 2779
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2779 non-null   datetime64[ns]
 1   Adj Close  2779 non-null   object
 2   Close      2779 non-null   object
 3   High       2779 non-null   object
 4   Low        2779 non-null   object
 5   Open       2779 non-null   object
 6   Volume     2779 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 173.7+ KB

## Merging Subreddit Data and Stock Movements

In [28]:
merged_data = pd.merge(df_subreddit, df_stock, on='Date', how='inner')

In [30]:
merged_data.isnull().sum()

headlines    0
Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

## Creating Final Dataset

In [33]:
merged_data.to_csv('Final Dataset.csv',index=False,encoding='utf-8')
merged_data

,headlines,Date,Adj Close,Close,High,Low,Open,Volume
0,UPVOTE so everyone sees we got SUPPORT,2021-01-28,92.92729187011719,93.15550231933594,94.94149780273438,92.13200378417969,92.1969985961914,35462000
1,GME YOLO update — Jan 28 2021,2021-01-28,92.92729187011719,93.15550231933594,94.94149780273438,92.13200378417969,92.1969985961914,35462000
2,GME YOLO month-end update — Jan 2021,2021-01-29,91.56214141845703,91.78700256347656,92.86399841308594,90.51000213623047,92.30850219726562,32252000
3,It’s treason then,2021-01-29,91.56214141845703,91.78700256347656,92.86399841308594,90.51000213623047,92.30850219726562,32252000
4,CLASS ACTION AGAINST ROBINHOOD. Allowing peopl...,2021-01-28,92.92729187011719,93.15550231933594,94.94149780273438,92.13200378417969,92.1969985961914,35462000
...,...,...,...,...,...,...,...,...
2149,Good way to start a week,2021-04-13,113.08578491210938,113.3635025024414,113.8604965209961,112.80449676513672,113.07350158691406,23310000
2150,"Well, shit.....",2024-06-04,174.70095825195312,175.1300048828125,175.19000244140625,173.22000122070312,174.4499969482422,14066600
2151,"Jim Cramer urges investors to exit crypto, say...",2022-12-06,97.07160186767578,97.30999755859375,100.20999908447266,96.76000213623047,99.66999816894531,20877600
2152,Third member of prestigious FDA panel resigns ...,2021-06-11,125.3885726928711,125.69650268554688,126.34950256347656,124.91449737548828,126.24600219726562,25240000
2153,Goldman Sachs Top Retail Stock Picks,2022-03-28,141.6022491455078,141.9499969482422,141.97650146484375,139.82815551757812,140.6844940185547,23774000

## Next: We Move onto Feature Engineering -->